<h1>Home Page</h1>

<br />
<%= link_to "Create new products", products_path %>
<br />
<%= link_to "Product Menu", menu_path %>
<br />
<%= link_to "List of Items", items_path %>
<br />
<%= link_to "List of Images", images_path %>
